<div class="col-md-16">

	<div ng-if="msg" class="alert alert-dismissible " ng-class="
	{'alert-success': msg.type == 'success', 
	'alert-danger': msg.type == 'error'}">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<strong>
		{{msg.msg}}
	</strong>
</div>
<div ng-if="contact">
	<div class="card hovercard">
		<div class="cardheader">
		
		</div>
		<div class="avatar">
			<user-pic imageid='{{contact.pic}}'></user-pic>
		</div>
		<div class="info">

			<div class="form-group is-empty">
				<label for="inputEmail" class="col-md-2 control-label">Name</label>
				<div class="col-md-10">
					<input class="form-control" value="{{contact.name}}" disabled>
				</div>
			</div>		
			<div class="form-group is-empty">
				<label for="inputEmail" class="col-md-2 control-label">Mobile</label>
				<div class="col-md-10">
					<input class="form-control" value="{{contact.mobile}}" disabled>
				</div>
			</div>		
			<div class="form-group is-empty">
				<label for="inputEmail" class="col-md-2 control-label">Email</label>
				<div class="col-md-10">
					<input class="form-control" value="{{contact.email}}" disabled>
				</div>
			</div>		
			<p class="text-center" ng-submit="add()">

				<a ui-sref="home" class="btn btn-default btn-fab">
					<i class="material-icons">arrow_back</i>
				</a>							

				<a ui-sref="home.edit({id : contact.$id })" class="btn btn-info btn-fab">
					<i class="material-icons">create</i>
				</a>

				<a href="javascript:void(0)" class="btn btn-danger btn-fab" ng-click="removeContact(contact.$id);">
					<i class="material-icons">delete</i>
				</a>
			</p>
		</div>
	</div>


</div>	