<div class="col-md-16">

	<div ng-if="msg" class="alert alert-dismissible " ng-class="
	{'alert-success': msg.type = 'success', 
	'alert-error': msg.type = 'error'}">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<strong>
		{{msg.msg}}
	</strong>
</div>
<div ng-if="contact">
	<div class="card hovercard">
		<div class="cardheader">
		
		</div>
		<div class="avatar">
			<img alt="" src="{{pic}}">
		</div>
		<div class="info">
			<form name="frmContact">
				<div class="form-group is-empty">
					<label for="inputName" class="col-md-2 control-label">Name</label>
					<div class="col-md-10">
						<input class="form-control" id="inputName" placeholder="Name" style="cursor: auto;" type="text" ng-disabled="!editing" value="{{contact.name}}" ng-model="contact.name" required>
					</div>
				</div>
				<div class="form-group is-empty">
					<label for="inputMobile" class="col-md-2 control-label">Mobile</label>
					<div class="col-md-10">
						<input class="form-control" id="inputMobile" placeholder="Mobile" style="cursor: auto;" type="text" ng-disabled="!editing" value="{{contact.mobile}}" ng-model="contact.mobile" required>
					</div>
				</div>
				<div class="form-group is-empty">
					<label for="inputEmail" class="col-md-2 control-label">Email</label>
					<div class="col-md-10">
						<input class="form-control" id="inputEmail" placeholder="Email" style="cursor: auto;" type="email" ng-disabled="!editing" value="{{contact.email}}" ng-model="contact.email" required>
					</div>
				</div><br>
				<!-- action buttons -->
				<p class="text-center" ng-submit="add()">

					<a href="javascript:void(0)" class="btn btn-default btn-fab"  ng-click="cancelForm()">
						<i class="material-icons">arrow_back</i>
					</a>							

					<a href="javascript:void(0)" class="btn btn-info btn-fab" ng-show="!editing" ng-click="editMode()">
						<i class="material-icons">create</i>
					</a>

					<button href="javascript:void(0)" class="btn btn-success btn-fab" ng-show="editing" ng-click="saveContact(contact.$id);" ng-disabled="frmContact.$invalid">
						<i class="material-icons">done</i>
					</button>					

					<a href="javascript:void(0)" class="btn btn-danger btn-fab" ng-show="!editing" ng-click="removeContact(contact.$id);">
						<i class="material-icons">delete</i>
					</a>
				</p>								
			</form>  
		</div>
	</div>


</div>	