<div ng-if="!contacts.$resolved" class="text-center"><h3>Loading...Please wait.</h3>
</div>
	
<div class="col-md-4" ng-if="contacts.$resolved">
	<div class="list-group contact-list">
		<div class="list-group-item search">
			<div class="form-group label-floating">
				<label class="control-label">Search...</label>
				<input class="form-control" type="text" ng-model="search" value="">
			</div>							
		</div>
		<div class="spacer"></div>
		
		<div class="list-group-item" ng-if="!contacts.length">Start adding contacts</div> 

		<div 
			class="list-group-item" 
			ng-repeat-start="contact in contacts | filter : search | orderBy : 'name'" 
			ui-sref="home.details({id : contact.$id , msg: ''})"
			>
			<div class="row-picture">
				<user-pic imageid='{{contact.pic}}'></user-pic>
			</div>
			<div class="row-content">
				<h4 class="list-group-item-heading">
					{{contact.name}}
				</h4>

				<p class="list-group-item-text">{{contact.mobile}}</p>
			</div>
		</div>
		<div ng-repeat-end class="list-group-separator"></div>
		<a ui-sref="home.add" class="btn btn-info btn-fab add-new"><i class="material-icons">add</i></a>
	</div>

</div>
<div class="col-md-8">
	<ui-view></ui-view>
</div>


